<header class ="main-header">
    <div class ="logo">
        <a>
            <img src="./images/logo.png" srcset="./images/logo@2x.png 2x" alt="logo-event-booster">
        </a>
    </div>
    <div class ="page-title">
        <h1 class ="page-title__header">FIND BEST EVENTS AROUND THE WORLD</h1>
    </div>
        
    <form class="form">
            <input class ="form__search" name="search" type="search" placeholder="Start searching" autocomplete="off">
            
            <svg class="research__svg">
                  <use class="research__icon" href="./images/svg/research.svg#search-icon" opacity="1"></use>
                </svg>
                <svg class="research__svg">
                  <use
                    class="delete-search__icon"
                    href="./images/svg/research.svg#delete-search"
                    opacity="0"
                  ></use>
                </svg>
      
            <select class ="form__dropdown" id="countries" name="countries">
                <option value="" >Choose country</option>
            </select>
      
            <svg class="dropdown__svg">
                  <use class="dropdown__icon" href="./images/svg/research.svg#dropdown-country-search"></use>
                </svg>
      
      
    </form>
</header>

