<main>
    <div class ="gallery">
       <div class="container gallery-container">
        <ul class="gallery__list"></ul>
      </div>
    </div>
  
  <div class="modalcard">
  
 
<div class='modalcard__content'>
  <button type='button' class='modalcard__button' data-action='close-modalcard'></button>
  
    <div class='modalcard-section'>
      <picture class='modalcard-img-section'>
        <img class='modalcard-img' src="./images/modalcard/modal-photo@2.png" alt="logo-event-booster"/>
      </picture>
          <a>
              <img src="./images/modalcard/modal-photo@2.png" srcset="./images/modalcard/modal-photo.png" alt="logo-event-booster">
          </a>
   
        <div class='modalcard-container-info'>
          <div class='modalcard-container'>
            <h3 class='modalcard-header'>INFO</h3>
              <p class='modalcard-paragraph-text'></p>
          </div>

          <div class='modalcard-container-when'>
            <h3 class='modalcard-header'>WHEN</h3>
            <p class='modalcard-paragraph-text'></p>
            <p class='modalcard-paragraph-text'></p>
          </div>

          <div class='modalcard-container-where'>
            <h3 class='modalcard-header'>WHERE</h3>
            <p class='modalcard-paragraph-text'></p>
            <p class='modalcard-paragraph-text'></p>
          </div>

          <div class='modalcard-container-who'>
            <h3 class='modalcard-header'>WHO</h3>
            <p class='modalcard-paragraph-text'></p>
          </div>
      
          <div class='modalcard-container-price'>
            <h3 class='modalcard-header'>PRICE</h3>
            <p class='modalcard-paragraph-text'><img class='jpg-ticket' src="./images/modalcard/ticketcode.jpg" alt="price" />
            </p>
        
            <button type='button' class='modalcard-btn-buy'>BUY TICKETS</button>

            <div class='jpg-ticket'>
                <p class='modalcard-text'>
                 <img class='jpg-ticket' src="./images/modalcard/ticketcode.jpg" alt="price" />
                 </p>
            </div>
            
         <button type='button' class='modalcard-btn-buy'>BUY TICKETS</button>
        
          </div>
         
        <button type='button' class='modalcard-btn-author' data-author='authorName'>MORE FROM THIS
        AUTHOR</button>
      </div>
    </div>
  </div>  
</div>
  
    <div class="pagination"></div>
  
</main>
