body {
  font-family: "Montserrat", "Open Sans";
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  width: 100%;
  padding: 0 23px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 89px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
    padding: 0 119px;
  }
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal {
  background-color: #000000;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 150px 0px;
  z-index: 2;
}

.modal__about-span {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 85vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 77vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media screen and (min-width: 1200) {
  .modal {
    width: 90vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.is-hidden {
  visibility: hidden;
}

.main-header {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.main-header:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 102px;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0)), to(rgba(14, 14, 14, 0.8)));
  background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%);
}

.page-title__header {
  max-width: 212px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.222;
  color: #dc56c5;
  padding-top: 78px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 107px;
}

.search-icon,
.filter-icon {
  position: absolute;
  top: 14px;
  right: 30px;
}

.form__search__container,
.form__dropdown__container {
  width: 270px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  padding-top: 10px;
  position: relative;
}

.form__search,
.form__dropdown,
option {
  border: none;
  background: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: #939393;
  outline: none;
  max-width: 270px;
}

option,
.form__search__container,
.form__dropdown {
  text-align: left;
  padding-left: 30px;
}

.form__dropdown {
  position: absolute;
  left: 0;
}

.form__search__container,
.page-title__header {
  margin-bottom: 25px;
}

::-webkit-input-placeholder {
  color: #939393;
}

:-ms-input-placeholder {
  color: #939393;
}

::-ms-input-placeholder {
  color: #939393;
}

::placeholder {
  color: #939393;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/background/background-mobile.png");
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/background/background-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 364px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .main-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/background/background-mobile@2x.png");
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/background/background-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 364px;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/background/background-tablet.png");
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/background/background-tablet.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 364px;
    position: relative;
  }
  .logo {
    width: 178px;
    top: 0;
  }
  .form__search__container {
    margin-right: 30px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-title__header {
    font-size: 30px;
    line-height: 1.233;
    max-width: 353px;
    padding-top: 40px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/background/background-tablet@2x.png");
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/background/background-tablet@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 364px;
  }
}

@media screen and (min-width: 1200px) {
  .main-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/background/background-desktop.png");
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/background/background-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 446px;
  }
  .logo {
    width: 238px;
  }
  .page-title__header {
    font-size: 50px;
    line-height: 1.22;
    max-width: 589px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/background/background-desktop@2x.png");
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/background/background-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 446px;
  }
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: -33px;
  margin-right: -4px;
  margin: 0 auto;
  position: relative;
  top: -39px;
  list-style: none;
}

.events__item {
  -ms-flex-preferred-size: calc(100% / 2 - 4px);
      flex-basis: calc(100% / 2 - 4px);
  width: 138px;
  max-height: 242px;
  margin-bottom: 33px;
  margin-right: 4px;
  position: relative;
}

.events__item:before {
  content: '';
  position: absolute;
  width: 109px;
  height: 101px;
  right: 10px;
  top: -10px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
}

.events__item img {
  width: 128px;
  height: 161px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50px 0px;
  margin: 0 auto;
}

.events__item div {
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  color: #dc56c5;
}

.events__item .events__info-venue {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}

.events__item .events__info-venue:before {
  content: '';
  background-image: url("../images/Vector.svg");
  width: 7px;
  height: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.events__item .events__info-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    background-image: url("../images/body/bg-body-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .wrapper {
    background-image: url("../images/body/bg-body-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url("../images/body/bg-body-tablet.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .events {
    width: 610px;
  }
  .events__item {
    width: 180px;
    max-height: 227px;
    -ms-flex-preferred-size: calc(100% / 3 - 14px);
        flex-basis: calc(100% / 3 - 14px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .wrapper {
    background-image: url("../images/body/bg-body-tablet@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    background-image: url("../images/body/bg-body-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .events {
    width: 946px;
  }
  .events__item {
    width: 194px;
    max-height: 312px;
    -ms-flex-preferred-size: calc(100% / 4 - 56px);
        flex-basis: calc(100% / 4 - 56px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .wrapper {
    background-image: url("../images/body/bg-body-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 60px;
}

.pagination__link button {
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .pagination__link button {
    font-size: 16px;
  }
}

.pagination__link--active button {
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: inherit;
  color: #dc56c5;
  border: 1px solid #DC56C5;
  border-radius: 10px 0px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .pagination__link--active button {
    font-size: 16px;
  }
}

.pagination__link--dots {
  padding-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.pagination__dots {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: bottom;
  color: white;
  background-color: inherit;
  border: none;
  cursor: default;
  color: white;
}

@media screen and (min-width: 768px) {
  .pagination__dots {
    font-size: 16px;
  }
}

.footer {
  padding-bottom: 27px;
}

.footer p {
  width: 252px;
  height: 34px;
  font-size: 14px;
  line-height: 1.214;
  color: #939393;
  text-align: center;
  margin: 0 auto;
}

.footer p span {
  color: red;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 18px;
  }
  .footer p {
    min-width: 521px;
  }
}
/*# sourceMappingURL=index.css.map */