<header class="main-header">
  <div class="container">
    <div class="logo">
      <a>
        <svg class="logo-svg">
          <use href="./images/logo.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="page-title">
      <h1 class="page-title__header">FIND BEST EVENTS AROUND THE WORLD</h1>
    </div>

    <form class="form">
      <input
        class="form__search"
        name="search"
        type="search"
        placeholder="Start searching"
        autocomplete="off"
      />
      <select class="form__dropdown" id="countries" name="countries">
        <option value="Choose country">Choose country</option>
      </select>
    </form>
  </div>
</header>
