<header class ="main-header">
    <div class ="logo">
        <a>
            <img src="./images/logo.png" srcset="./images/logo@2x.png 2x" alt="logo-event-booster">
        </a>
    </div>
    <div class ="page-title">
        <h1 class ="page-title__header">FIND BEST EVENTS AROUND THE WORLD</h1>
    </div>
        
    <form class="form">
            <input class ="form__search" name="search" type="search" placeholder="Start searching" autocomplete="off">
            <select class ="form__dropdown" id="countries" name="countries">
                <option value="Choose country">Choose country</option>
            </select>
    </form>
</header>