// background picture
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main {
    background-image: url('../images/body/bg-body-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 2786px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .main {
    background-image: url('../images/body/bg-body-mobile@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .main {
    background-image: url('../images/body/bg-body-tablet.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main {
    background-image: url('../images/body/bg-body-tablet@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    background-image: url('../images/body/bg-body-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main {
    background-image: url('../images/body/bg-body-desktop@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
