.events {
  display: flex;
  width: 280px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: -33px;
  margin-right: -4px;
  position: relative;
  top: -39px;
  list-style: none;
  margin: 0 auto;
  transition: transform 0.5s ease;
  :hover {
    transform: scale(1.05);
  }
}

.events__item {
  flex-basis: calc(100% / 2 - 4px);
  width: 138px;
  margin-bottom: 33px;
  margin-right: 4px;
  position: relative;
  // decor
  &:before {
    content: '';
    position: absolute;
    width: 109px;
    height: 101px;
    right: 10px;
    top: -10px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;
  }

  img {
    width: 128px;
    height: 161px;
    object-fit: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50px 0px;
    margin: 0 auto;
  }
  div {
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
    color: $secondary-color;
  }
  .events__info-venue {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #ffffff;

    &:before {
      content: '';
      background-image: url('../images/Vector.svg');
      width: 7px;
      height: 10px;
      display: inline-block;
      background-repeat: no-repeat;
      margin: 0 auto;
    }
  }
  .events__info-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.214;
    color: #ffffff;
  }
}
// background picture
@media screen and (min-width: 320px) {
  .wrapper {
    background-image: url('../images/body/bg-body-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(24, 22, 22);
    min-height: 100vh;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .wrapper {
    background-image: url('../images/body/bg-body-mobile@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url('../images/body/bg-body-tablet.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .events {
    width: 610px;
    margin-right: -14px;
    margin: 0 auto;

    :hover {
      transform: scale(1.1);
    }
  }
  .events__item {
    width: 180px;
    margin-right: 14px;
    flex-basis: calc(100% / 3 - 14px);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .wrapper {
    background-image: url('../images/body/bg-body-tablet@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    background-image: url('../images/body/bg-body-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .events {
    width: 946px;
    margin-right: -56px;
    margin: 0 auto;
  }
  .events__item {
    width: 194px;
    margin-right: 56px;
    flex-basis: calc(100% / 4 - 56px);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .wrapper {
    background-image: url('../images/body/bg-body-desktop@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.pagination__wrapper {
  display: flex;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 60px;
  gap: 4px;
}

.pagination__btn {
  background: inherit;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: 0;
}
.pagination__btn:hover {
  cursor: pointer;
}
.pagination__link button {
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  box-sizing: border-box;
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;

  @media screen and(min-width: 768px) {
    font-size: 16px;
  }
}

.pagination__btn--active {
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  box-sizing: border-box;
  background-color: inherit;
  color: #dc56c5;
  border: 1px solid #dc56c5;
  border-radius: 10px 0px;
  cursor: pointer;
  animation-name: pagination;
  animation-duration: 1000ms;
  @media screen and(min-width: 768px) {
    font-size: 16px;
  }
}

@keyframes pagination {
  0% {
    font-size: 14px;
    background-color: inherit;
    color: #dc56c5;
  }
  50% {
    font-size: 18px;
    background-color: #dc56c5;
    color: inherit;
  }
  100% {
    font-size: 14px;
    color: #dc56c5;
    background-color: inherit;
  }
}

.pagination__link--dots {
  padding-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.pagination__dots {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: bottom;
  color: white;
  background-color: inherit;
  border: none;
  cursor: default;
  color: white;

  @media screen and(min-width: 768px) {
    font-size: 16px;
  }
}
.scroll--lock {
  overflow: hidden;
}
