.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
  transition: opacity;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
  z-index: 1;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-height: calc(100vh - 47px);
  width: 272px;
  top: 341px;
  left: 48vw;
  z-index: 99;
  transform: translate(-50%, -50%);
  border-radius: 150px 0px;
  overflow-y: auto;
  background-color: #fff2fd;
  padding-bottom: 50px;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 595px;
    border-radius: 300px 0px;
    top: 315px;
  }
  @media screen and (min-width: 1200px) {
    width: 850px;
    border-radius: 255px 0px;
    top: 50%;
  }
  animation: animatetop 0.4s;
  // HEADER
  &__header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    color: rgba(220, 86, 197, 1);
    font-size: 15px;
    @media screen and (min-width: 768px) {
      text-align: start;
      top: 28px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 19px;
      font-weight: 600;
      top: 0;
    }
    &-img {
      justify-content: center;
      width: 102px;
      height: 102px;
      border-radius: 50%;
      margin: 12px;
      & > img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .modal__header-img {
      width: 70px;
      height: 70px;
    }
  }
  @media screen and (min-width: 768px) {
    .modal__header-img {
      width: 132px;
      height: 132px;
      margin-top: 20px;
    }
  }

  //   main
  &__main {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 767px) {
      justify-content: center;
      align-items: center;
    }
  }
  &__text {
    text-align: center;
    font-size: 10px;
    position: relative;
    color: #0e0e0e;
    font-weight: 500;
    line-height: 1.4;
    overflow: hidden;
    -webkit-box-orient: vertical;

    @media screen and (min-width: 768px) {
      text-align: start;
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 15px;
      line-height: 1.22;
    }
  }

  //   more
  &__more {
    width: 230px;
    height: 40px;
    border: 1px solid #4c00fe;
    border-radius: 5px;
    font-weight: 500;
    border: 2px solid #4c00fe;
    border-radius: 5px;
    background-color: white;
    color: #4c00fe;
    margin-top: 25px;
    margin-bottom: 104px;
    font-size: 16px;
    line-height: 1.25;
    &:hover,
    &:focus {
      background-color: #4c00fe;
      color: white;
    }

    @media screen and (min-width: 768px) {
      left: -17%;
      top: 2%;
      width: 208px;
      font-size: 13px;
    }
    @media screen and (min-width: 1200px) {
      width: 255px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      padding: 10px;
      margin-bottom: 72px;
    }
  }
}

.modal__text {
  text-align: center;
  font-size: 10px;
  position: relative;
  color: #0e0e0e;
  font-weight: 500;
  line-height: 1.4;
  overflow: hidden;
  &:first-child {
    -webkit-line-clamp: 3;
  }

  @media screen and (min-width: 767px) {
    text-align: start;
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 15px;
    line-height: 1.22;
    margin-bottom: 20px;
  }
}
.event-img {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 233px;
    height: 416px;
    margin-top: 43px;
    margin-left: 50px;
    margin-right: 30px;

    object-fit: cover;
  }
  @media screen and (min-width: 1200px) {
    width: 360px;
    height: 641px;
    margin: 30px;
    object-fit: cover;
  }
}
.modal__about {
  @media screen and (min-width: 768px) {
    margin-top: 43px;
  }
  &-btn {
    color: #ffffff;

    width: 145px;
    height: 40px;
    background-color: #4c00fe;
    border-radius: 5px;

    @media screen and (min-width: 1200px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.modal__about-span {
  color: #dc56c5;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.modal__about-text,
.modal__about-price {
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin: 5px;
  line-height: 1.219;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.modal__about-price::before {
  content: '';
  background-image: url('../images/ticket.svg');
  height: 19px;
  width: 29px;
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.modal__close {
  width: 17px;
  height: 17px;
  background-image: url(../images/close.svg);
  border: none;
  position: absolute;
  right: 30px;
  top: 30px;

  @media screen and (min-width: 1200px) {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 45vh;
    opacity: 1;
  }
}
